---
title:      "Category: <%= title.capitalize %>"
created_at: <%= Time.now.to_y %>
filter:     erb
dirty:      true
autogenrated: true
---
<div class='index' id='body'>
<%%
  articles = articles_in_category("<%= category %>")
  articles.delete(@page)
  paginate(articles, 10) do |page|
-%>
  <%%= render :partial => '/article_list', :locals => { :page => page } %>
<%% end -%>
</div>

<%%= pagination_links %>